* { 
	font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif; 
}
html {
	overflow-x: hidden;
	height: 100%;
	margin: 0;
}
body {
	background:#0f1117;
	color:#eaeaea;
	margin:0;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
}
.header {
	padding:0px 14px;
	background:#0b0d12;
	border-bottom:1px solid #222;
	display:flex;
	align-items:center;
	gap:12px;
	margin-right: -5px;
}
.header strong {
	font-weight: 600;
	letter-spacing: 0.2px;			
	line-height: 38px;
	height: 38px;
	background: #515151;
	margin-left: -14px;
	text-align: center;
	min-width: 210px;
	font-size: 15px;
}
.header strong a { 
	color: #fff; text-decoration: none; 
}
input[type="file"] { 
	font-size:0.75rem; 
}
#wrap { 
	position: relative;
	flex: 1;        /* <-- key */
	min-height: 0;
}
#plot { 
	width: 100%;
	height: 100%;
}
.axis-label {
	position:absolute;
	font-size:12px;
	display:flex;
	align-items:center;
	gap:6px;
	cursor:pointer;
	user-select:none;
	transform: translateY(-50%);
}
.axis-label.hidden { 
	opacity: 0.3; 
}
.axis-line { 
	width: 18px; height:2px; 
}
.left  { 
	left: 8px; 
}
.right { 
	right:8px; 	
}
.js-plotly-plot .plotly .modebar { 
	top: -32px; 
}
.top {
	display: block;
	height: 38px;
	padding: 0;
	line-height: 35px;
	position: relative;
	margin-left: auto;
	display: flex;
	align-items: center;
	gap: 10px;
}
.top a { 
	color: #fff;
	font-size: 0.7rem;
	text-decoration: none;
	background: #607d8b;
	height: 20px;
	padding-left: 7px;
	padding-right: 6px;
	line-height: 30px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 3px;
	min-width: 55px;
	height: 30px;
}
.top a:hover { 
	opacity: 0.75; 
}
#file {
	cursor: pointer;
	width: 80px !important;
	height: 30px;
	line-height: 30px;
	background: #6b6b6b;
	border-radius: 4px;
	text-align: center;
	-webkit-tap-highlight-color: transparent;
	tap-highlight-color: transparent;
	-webkit-appearance: none;
	appearance: none;
	outline: none;
}

#file:hover, #file:focus, #file:active {
	background: #7d7d7d;
	outline: none;
	box-shadow: none;
}
#resetBtn {
	display: none;
	margin-left: -12px;
	background: #2b2929;
	color: #eaeaea;
	cursor: pointer;
	font-size: 14px;
	border: 0;
	height: 38px;
	line-height: 35px;
	padding-left: 10px;
	padding-right: 10px;
}
#resetBtn i { 
	font-size: 14px; color: #fff; 
}
#resetBtn:hover { 
	background: #222; 
}
footer {
	text-align: center;
	font-size: 11px;
	color: #666;
	padding: 8px 0;
	background: #0b0d12;
	margin-top: 10px;
}

footer a {
	font-size: 11px;
	color: #666;
}
footer a:hover {
	color: #fff;
}
#hoverBox {
	background:#111;
	font-family:monospace;
	font-size:12px;
	display:none;	
	position: fixed;
    pointer-events: none;
    z-index: 1000;
    width: 130px;
    box-sizing: border-box;
    white-space: nowrap;
    border-radius: 3px;
    border: 0;
    box-shadow: 0px 0px 10px 0px #272727;
    padding: 10px;
	text-align: right;
}
#hoverBox span {
    text-align: left;
    float: left;
    clear: both;
}
.axis-label.disabled {
	filter: grayscale(1);
}
._r1, ._r2, ._r3, ._r4 { display: none; }

/*** Media Screens ***/
@media screen and (max-width: 485px) { 
	#resetBtn {
		position: absolute;
		right: 8px;
		margin-left: unset;
	}	
	.js-plotly-plot .plotly .modebar {
		width: 100%;
		float: none;
		top: -22px;
		right: unset;
		left: unset;
	}
	.plot-container.plotly {
		margin-top: 30px;
	}
	.axis-label {
		font-size: 11px;
	}
}
@media screen and (max-width: 430px) { 
	.header strong { 
		min-width: 190px; 
		font-size: 14px; 
	} 
}
@media screen and (max-width: 370px) { 
	.header { 
		gap: 5px; 
	} 
	.header strong {
		min-width: unset;
		padding-left: 8px !important;
		padding-right: 8px !important;
		background: none;
		padding-right: 5px !important;
	}
	.header strong a {
		display: inline-block;
		width: 0;
		overflow: hidden;
		white-space: nowrap;
	}
	.header strong a:after {
		content: "Log Analyzer";
		text-align: left;
		font-size: 14px;
		position: absolute;
		left: 0;
		background: #515151;
		padding: 0px 7px;
		top: 0px;
	}
}
@media screen and (max-width: 280px) { 
	.header strong a:after {
		display: none;
	}
	.top {
		width: 100%;
		margin: auto;
		right: unset;
		left: unset;
		justify-content: center;
	}
}